[Unit]
Description=Maniforge TL expire licenses (every 10 min)

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
